.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

body {
  background-color: #f5f6fa;
}

.app_stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border: 1px outset gray;
  margin: 0.5rem;
  border-radius: 6px;
}

.app_left {
  flex: 0.9;
  margin-right: 2rem;
}
.app_right {
  flex: 0.4;
}

.graph_header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media screen and (max-width: 992px) {
  .app {
    flex-direction: column;
  }
}
